<nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a routerLink = "/admin/addcenter">Add Center</a></li>
        <li><a routerLink = "/admin/removecenter">Remove Center</a></li>
        <li><a routerLink = "/admin/addtest">Add Test</a></li>
        <li><a routerLink = "/admin/removetest">Remove Test</a></li>
        <li><a routerLink = "/admin/approveappointment">Approve Appointment</a></li>
      </ul>
    </div>
</nav>
<router-outlet></router-outlet>